RewriteEngine On
RewriteBase /employee_management
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /employee_management/index.php/$1 [L]


ErrorDocument 404 /employee_management/index.php